{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://scontent.faep8-2.fna.fbcdn.net/v/t1.0-9/20525345_1386065754795857_5798764795208818972_n.jpg?_nc_cat=0&oh=d89d5c5fa7497fd354d393fb098fcfe2&oe=5C213164" height="200"><br>
      <b>El Fofo</b><br>
      100 followers
    </div>
    <div class="col-md-9">
            {% if showForm %}
                <form action="/tweets" method="POST">
                <label for="name_field">Name:</label>
                <input name="name" value="{{nombre}}" type="text" id="name_field" />
                <label for="text_field">Text:</label>
                <input name="text" type="text" id="text_field" style="width: 350px;" />
                <input type="submit" value="Submit" />
                </form>
            {% endif %}
      <!-- display tweets here -->
      {% for tweet in tweets %}
      <div>
            <img src="https://scontent.faep8-2.fna.fbcdn.net/v/t1.0-1/c0.10.200.200/1900001_10152276522787074_1126454480_n.jpg?_nc_cat=0&oh=0c44c7c93b5c19509a04337ae9ac019e&oe=5C1D90CD" width="32" height="32" style="float: left"> 
            <li style="list-style-type: none"><a href="/users/{{tweet.name}}">{{tweet.name}}</a></li>
            <li style="list-style-type: none"><a href="/tweets/{{tweet.id}}">{{tweet.content}}</a></li>
        </div>
    
        {% endfor %}
    
    </div>
  
  </div>
    
{% endblock %}