{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://scontent.faep8-2.fna.fbcdn.net/v/t1.0-9/20525345_1386065754795857_5798764795208818972_n.jpg?_nc_cat=0&oh=d89d5c5fa7497fd354d393fb098fcfe2&oe=5C213164" height="100"><br>
      <b>El Fofo</b><br>
      100 followers
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
        <li>{{tweet.content}}</li>
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}